/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

:root{
    --primary-color: #ee4040;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 99999;
}

/*==============
 Style Zero
===============*/

.preloader.style0{
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.style0 img{
    width: 300px;
    height: auto;
}

/*==============
 Style One
===============*/

.preloader.style1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.preloader.style1 .loader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader.style1 .loader .ring{
    position: relative;
    height: 150px;
    width: 150px;
    margin: -30px;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.preloader.style1 .loader .ring::before{
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 20px #24ecff,
    0 0 50px #24ecff;
}
.preloader.style1 .loader .ring:nth-child(2){
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
}
.preloader.style1 .loader .ring:nth-child(2)::before{
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d,
    0 0 50px #93ff2d;
}
@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.preloader.style1 .loader .ring:nth-child(3){
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #e41cf8;
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
}
.preloader.style1 .loader .ring:nth-child(3)::before{
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833,
    0 0 0 10px #e41cf822,
    0 0 0 20px #e41cf811,
    0 0 20px #e41cf8,
    0 0 50px #e41cf8;
}
.preloader.style1 .loader p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -150px;
    letter-spacing: 0.15em;
}

/*==============
 Style Two
===============*/

.preloader.style2 canvas {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.preloader.style2 p {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    letter-spacing: 0.15em;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%);
}

/*==============
 Style Three
===============*/

.preloader.style3 .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
    width: 100px;
    height: 100px;
}
.preloader.style3 .loader > div {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    transform: scale(0);
    transform-origin: center center;
    animation: loader3 2s infinite linear;
}
.preloader.style3 .loader > div:nth-of-type(1),
.preloader.style3 .loader > div:nth-of-type(5),
.preloader.style3 .loader > div:nth-of-type(9) {
    animation-delay: 0.4s;
}
.preloader.style3 .loader > div:nth-of-type(4),
.preloader.style3 .loader > div:nth-of-type(8) {
    animation-delay: 0.2s;
}
.preloader.style3 .loader > div:nth-of-type(2),
.preloader.style3 .loader > div:nth-of-type(6) {
    animation-delay: 0.6s;
}
.preloader.style3 .loader > div:nth-of-type(3) {
    animation-delay: 0.8s;
}

@keyframes loader3 {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/*==============
 Style Four
===============*/

.preloader.style4 #loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}
.preloader.style4 #box {
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    animation: animate4 .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.preloader.style4 #shadow { 
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}
@keyframes animate4 {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg) ;
        border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
}
@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}

/*==============
 Style Five
===============*/

.preloader.style5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.style5 .loader {
    width: 16em;
    height: 8em;
    position: relative;
    overflow: hidden;
}
.preloader.style5 .loader::before,
.preloader.style5 .loader::after {
    content: '';
    position: absolute;
    bottom: 0;
}
.preloader.style5 .loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
}
.preloader.style5 .loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
}
.preloader.style5 .loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: var(--primary-color);
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
}
.preloader.style5 .loader span:nth-child(2) {animation-delay: 0.075s;}
.preloader.style5 .loader span:nth-child(3) {animation-delay: 0.15s;}

@keyframes run {
    0% {left: -5%;}
    10%, 60% {left: calc((100% - 5%) / 2);}
    70%, 100% {left: 100%;}
}

@keyframes rotating {
    0%, 10% {transform: rotate(0deg);}
    60%, 100% {transform: rotate(-1turn);}
}

/*==============
 Style Six
===============*/

.preloader.style6 #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.preloader.style6 #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.preloader.style6 #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*==============
 Style Seven
===============*/

.preloader.style7 .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: loader7 1.2s infinite ease-in-out;
}
.preloader.style7 .loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    animation: loaderBlock 1.2s infinite ease-in-out both;
}
.preloader.style7 .loader span:nth-child(1) {
    top: 0;
    left: 0;
}
.preloader.style7 .loader span:nth-child(2) {
    top: 0;
    right: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.preloader.style7 .loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.preloader.style7 .loader span:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes loader7 {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}
@keyframes loaderBlock {
    0%, 30% {
        transform: rotate(0);
    }
    55% {
        background-color: #F37272;
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes loaderBlockInverse {
    0%, 20% {
        transform: rotate(0);
    }
    55% {
        background-color: #F37272;
    }
    100% {
        transform: rotate(-90deg);
    }
}